<% if @informe.filtroproyectofinanciero %>
  <h2>Horas por Resultado</h2>
  <table class='table table-bordered' border='1' width='100%'>
    <tr>
      <th>Resultado</th>
      <th>Responsable(s)</th>
      <th>Duración financiada JRS-Colombia</th>
      <th>Duración financiada pdJ</th>
    </tr>
    <% shjrs = 0 %>
    <% shpdJ = 0 %>
    <% Cor1440Gen::Resultadopf.where(
      proyectofinanciero_id: @informe.filtroproyectofinanciero).
      order(:id).each do |rpf| %>
      <% lac = @actividades.
        where(
          "cor1440_gen_actividad.id IN "\
          "(SELECT actividad_id FROM cor1440_gen_actividad_actividadpf AS aa "\
            " JOIN cor1440_gen_actividadpf AS apf ON aa.actividadpf_id=apf.id "\
            " WHERE apf.resultadopf_id=?"\
            ")", 
           rpf.id
        ).reorder(:fecha) %>
      <% resp = lac.pluck(:usuario_id).
        select{|x| !x.nil? }.
        uniq.map {|uid|
          ::Usuario.find(uid).nusuario
        }.join('; ') 
      %>
      <% hjrs = lac.pluck(:duracion).select{|x| x!=nil}.sum %>
      <% hpdJ = lac.pluck(:duracionvol).select{|x| x!=nil}.sum %>
      <tr>
       <td><%= rpf.resultado %></td>
       <td><%= resp %></td>
       <td><%= hjrs.a_decimal_localizado %></td>
       <td><%= hpdJ.a_decimal_localizado %></td>
     </tr>
     <% shjrs += hjrs %>
     <% shpdJ += hpdJ %>
   <% end %>
   <tr>
     <th colspan='2'>Total</th>
     <th><%= shjrs.a_decimal_localizado %></th>
     <th><%= shpdJ.a_decimal_localizado %></th>
   </tr>
  </table>
  <p></p>
<% end %>
