<div class="row">
  <div class="col-sm-3">
      <% ng = (!genclase.nil? && genclase == 'F') ? 'Nueva' : 'Nuevo' %>
      <% if @registros.size > 5 && can?(:new, clase.constantize)%>
        <%= link_to t('.new', default: [ng, t("helpers.links.new")]),
          new_modelo_path(@registros), class: 'btn btn-primary',
          data: { turbolinks: false }
        %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= titulo %>: <span id="numregistros"><%= @registros.count %></span>
  </div>
  <div class="offset-sm-0 col-sm-3">
    Horas: <%= @horas %>
  </div>
  <div class="offset-sm-0 col-sm-3">
    Valor: <%= @valor %>
  </div>
</div> <!-- row -->

