<% content_for :title do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>
  <%= grupo_menus do %>
    <%= despliega_abajo "Actividades" do %>
      <% if can? :read, Cor1440Gen::Actividad %>
        <%= opcion_menu "Listado", cor1440_gen.actividades_path, 
          desplegable: true %>
      <% end %>
      <% if can? :read, Cor1440Gen::Informe %>
        <%= opcion_menu "Informes", cor1440_gen.informes_path,
          desplegable: true %>
      <% end %>
      <% if can? :read, Sip::Persona %>
        <%= opcion_menu "Persona", sip.personas_path,
          desplegable: true %>
      <% end %>
      <% if can? :read, Sip::Actorsocial%>
        <%= opcion_menu "Actores sociales", sip.actoressociales_path,
          desplegable: true %>
      <% end %>
    <% end %>
    <% if can? :read, Cor1440Gen::Proyectofinanciero %>
      <%= opcion_menu "Convenios", cor1440_gen.proyectosfinancieros_path %>
    <% end %>
    <% if can? :index, Cor1440Gen::Efecto %>
      <%= despliega_abajo "Indicadores" do %>
        <%= opcion_menu "Avance en indicadores de Efecto", 
          cor1440_gen.efectos_path, desplegable: true %>
      <% end %>
    <% end %>
  <% end %>
  <%= grupo_menus :pull => :right do %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo "Documentos y plantillas" do %>
        <%= opcion_menu "Nube", heb412_gen.sisini_path,
          desplegable: true %>
        <% if current_usuario.rol == Ability::ROLADMIN || 
             current_usuario.rol == Ability::ROLDIR %>
           <%= opcion_menu "Definir plantilla hoja de calculo m.", 
             heb412_gen.new_plantillahcm_path, desplegable: true %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave", main_app.editar_registro_usuario_path,
          desplegable: true %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Usuarios", main_app.usuarios_path,
            desplegable: true %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu "Formularios", mr519_gen.formularios_path,
            desplegable: true %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu "Tablas Básicas", sip.tablasbasicas_path,
            desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", 
        main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", sip.acercade_path %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <p><span class='derechos'>Dominio Público de acuerdo a Legislación Colombiana<br/>
    Desarrollado por 
    <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 
    2019. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
